<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/chantiers-participatifs.css">
    <title>Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <a href="index.html"><img src="../assets/logo.png" alt="Accueil"></a>
    <ul>
        <li id="nav-projets-professionnels"><a href="projets-professionnels.html">Projets professionnels</a></li>
        <li id="nav-projets-académiques"><a href="projets-académiques.html">Projets académiques</a></li>
        <li id="nav-chantiers-participatifs"><a class="underline" href="chantiers-participatifs.html">Chantiers participatifs</a></li>
        <li id="nav-croquis"><a href="croquis.html">Croquis</a></li>
        <li id="nav-a-propos"><a href="a-propos.html">À propos</a></li>
        <li id="nav-contact"><a href="contact.html">Contact</a></li>
    </ul>
</nav>
<section class="projects-img-start">
    <img src="../assets/chantiers-participatifs/earthsip/earthship.png" alt="">
</section>
<section class="margin-sides project-description">
    <div class="project-title">
        <h1 class="italic-500">Earthship</h1>
        <h2 class="italic-300">Construire autrement</h2>
        <p>J’ai eu l’occasion de me rendre sur un chantier participatif afin d’aider un couple à créer sa maison de façon éco-responsable. Ils ont choisi d’opter pour un earthship. C’est une maison écologique construite principalement à partir de matériaux recyclés et de ressources naturelles locales comme des pneus des bouteille en verre ou encore des conserves. Conçue pour être autonome, un earthship intègre des systèmes passifs de chauffage et de refroidissement, ainsi que des techniques de capture d’eau de pluie et de traitement des eaux usées.</p>
        <p>De plus, elle est composée d’une serre, qui apporte la chaleur, déservant toutes les pièces de la maison. Grâce à son design bioclimatique et à son utilisation efficace des ressources renouvelables, elle offre un mode de vie respectueux de l’environnement tout en offrant un habitat confortable et harmonieux.</p>
        <p>Cette expérience m’a beaucoup appris et m’a donné envie de me renseigner davantage sur les principes de construction respectueux de l’environnement.</p>
    </div>
    <div class="img-container">
        <img src="../assets/chantiers-participatifs/earthsip/earthship-description.png" alt="">
    </div>
</section>
<section id="photo">
    <div class="img-container"><img src="../assets/chantiers-participatifs/earthsip/earthship.png" alt=""></div>
    <p>Photographie de la maison</p>
</section>
<section class="margin-sides" id="puit">
    <div id="puit-description">
        <div class="img-container"><img src="../assets/chantiers-participatifs/earthsip/puit.png" alt=""></div>
        <p>Le puits canadien est un système de ventilation naturelle qui utilise la température stable du sol pour tempérer l’air entrant dans la maison. L’air extérieur est aspiré par une prise d’air située à l’extérieur, puis circule dans un conduit enterré à environ 4,5 mètres de profondeur. En traversant la terre, il échange sa chaleur avec celle du sol : il se refroidit en été et se réchauffe légèrement en hiver. L’air ainsi tempéré est ensuite diffusé à l’intérieur du logement, contribuant à réguler la température ambiante de façon naturelle. Ce dispositif simple et écologique permet d’améliorer le confort thermique tout en réduisant la consommation d’énergie.</p>
    </div>
    <p>Puit canadien se trouvant dans la serre</p>
</section>
<section id="bouteille">
    <div id="bouteil-imgs">
        <div class="img-container"><img src="../assets/chantiers-participatifs/earthsip/bouteille-1.png" alt=""></div>
        <div class="img-container"><img src="../assets/chantiers-participatifs/earthsip/bouteille-2.png" alt=""></div>
    </div>
    <p>J’ai participé à la création de murs à partir de bouteilles en verre, une technique permettant de réduire l’utilisation de béton de chanvre tout en valorisant des matériaux recyclés. En plus de son intérêt écologique, cette méthode offre un résultat esthétique original : lorsque la lumière traverse le verre, elle crée de beaux jeux de reflets et de transparence, apportant une dimension lumineuse et poétique à la construction.</p>
</section>
<section id="chantier" class="margin-sides">
    <div class="img-container"><img src="../assets/chantiers-participatifs/earthsip/chantier.png" alt=""></div>
    <div id="chantier-description">
        <div id="materiaux">
            <div class="img-container"><img src="../assets/chantiers-participatifs/earthsip/sable.png" alt=""></div>
            <div class="img-container"><img src="../assets/chantiers-participatifs/earthsip/chaux.png" alt=""></div>
            <div class="img-container"><img src="../assets/chantiers-participatifs/earthsip/chanvre.png" alt=""></div>
        </div>
        <p>Pour ce pan de mur, situé entre la façade et une terrasse couverte, nous avons appliqué un enduit à base de chaux, de chanvre et de sable. Ce mélange naturel permet au mur de mieux réguler l’humidité tout en restant perméable à la vapeur d’eau, évitant ainsi les risques de condensation. Il contribue également à améliorer le confort thermique de la maison. La chaux et le chanvre sont des matériaux écologiques et durables, appréciés pour leur capacité à isoler tout en laissant respirer les parois.</p>
    </div>
</section>
</body>
</html>
<script src="../js/nav.js"></script>
