<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/chantiers-participatifs.css">
    <title>Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <a href="index.html"><img src="../assets/logo.png" alt="Accueil"></a>
    <ul>
        <li id="nav-projets-professionnels"><a href="projets-professionnels.html">Projets professionnels</a></li>
        <li id="nav-projets-académiques"><a href="projets-académiques.html">Projets académiques</a></li>
        <li id="nav-chantiers-participatifs"><a class="underline" href="chantiers-participatifs.html">Chantiers participatifs</a></li>
        <li id="nav-croquis"><a href="croquis.html">Croquis</a></li>
        <li id="nav-a-propos"><a href="a-propos.html">À propos</a></li>
        <li id="nav-contact"><a href="contact.html">Contact</a></li>
    </ul>
</nav>
<section class="projects-img-start">
    <img src="../assets/chantiers-participatifs/earthsip/earthship.png" alt="">
</section>
<section class="margin-sides project-description">
    <div class="project-title">
        <h1 class="italic-500">Earthship</h1>
        <h2 class="italic-300">Construire autrement</h2>
        <p>J’ai eu l’occasion de me rendre sur un <span class="bold">chantier participatif</span> afin d’aider un couple à créer sa maison de façon éco-responsable. Ils ont choisi d’opter pour un <span class="bold">earthship</span>. C’est une maison écologique construite principalement à partir de matériaux recyclés et de ressources naturelles locales comme des <span class="bold">pneus des bouteille en verre ou encore des conserves</span>. Conçue pour être <span class="bold">autonome</span>, un earthship intègre des <span class="bold">systèmes passifs de chauffage et de refroidissement</span>, ainsi que des techniques de capture d’eau de pluie et de traitement des eaux usées.</p>
        <p>De plus, elle est composée d’une <span class="bold">serre</span>, qui <span class="bold">apporte la chaleur</span>, déservant toutes les pièces de la maison. Grâce à son <span class="bold">design bioclimatique</span> et à son utilisation efficace des ressources renouvelables, elle offre un <span class="bold">mode de vie respectueux de l’environnement</span> tout en offrant un habitat confortable et harmonieux.</p>
        <p>Cette expérience m’a beaucoup appris et m’a donné envie de me renseigner davantage sur les principes de construction respectueux de l’environnement.</p>
    </div>
    <div class="img-container">
        <img src="../assets/chantiers-participatifs/earthsip/earthship-description.png" alt="">
    </div>
</section>
<section class="margin-sides" id="puit">
    <div id="puit-description">
        <div class="img-container"><img src="../assets/chantiers-participatifs/earthsip/puit.png" alt=""></div>
        <p>Le <span class="bold">puits canadien </span>est un système de ventilation naturelle qui utilise la <span class="bold">température stable du sol</span> pour <span class="bold">tempérer l’air entrant dans la maison</span>. L’air extérieur est aspiré par une prise d’air située à l’extérieur, puis circule dans un conduit enterré à environ <span class="bold">4,5 mètres de profondeur</span>. En traversant la terre, il <span class="bold">échange sa chaleur avec celle du sol</span> : il se refroidit en été et se réchauffe légèrement en hiver. L’air ainsi tempéré est ensuite diffusé à l’intérieur du logement, contribuant à réguler la température ambiante de façon naturelle. Ce dispositif simple et écologique permet <span class="bold">d’améliorer le confort thermique</span> tout en <span class="bold">réduisant la consommation d’énergie</span>.</p>
    </div>
    <p>Puit canadien se trouvant dans la serre</p>
</section>
<section id="bouteille">
    <div id="bouteil-imgs">
        <div class="img-container"><img src="../assets/chantiers-participatifs/earthsip/bouteille-1.png" alt=""></div>
        <div class="img-container"><img src="../assets/chantiers-participatifs/earthsip/bouteille-2.png" alt=""></div>
    </div>
    <p>J’ai participé à la <span class="bold">création de murs à partir de bouteilles en verre</span>, une technique permettant de <span class="bold">réduire l’utilisation de béton de chanvre</span> tout en valorisant des matériaux recyclés. En plus de son intérêt écologique, cette méthode offre un résultat esthétique original : lorsque la <span class="bold">lumière traverse le verre</span>, elle crée de <span class="bold">beaux jeux de reflets et de transparence</span>, apportant une dimension lumineuse et poétique à la construction.</p>
</section>
<section id="chantier" class="margin-sides">
    <div class="img-container"><img src="../assets/chantiers-participatifs/earthsip/chantier.png" alt=""></div>
    <div id="chantier-description">
        <div id="materiaux">
            <div class="img-container"><img src="../assets/chantiers-participatifs/earthsip/sable.png" alt=""></div>
            <div class="img-container"><img src="../assets/chantiers-participatifs/earthsip/chaux.png" alt=""></div>
            <div class="img-container"><img src="../assets/chantiers-participatifs/earthsip/chanvre.png" alt=""></div>
        </div>
        <p>Pour ce pan de mur, situé entre la façade et une terrasse couverte, nous avons appliqué un <span class="bold">enduit à base de chaux, de chanvre et de sable</span>. Ce mélange naturel permet au mur de <span class="bold">mieux réguler l’humidité</span> tout en <span class="bold">restant perméable à la vapeur d’eau</span>, évitant ainsi les risques de condensation. Il contribue également à <span class="bold">améliorer le confort thermique de la maison</span>. La <span class="bold">chaux et le chanvre</span> sont des matériaux écologiques et durables, appréciés pour leur capacité à <span class="bold">isoler</span> tout en <span class="bold">laissant respirer les parois</span>.</p>
    </div>
</section>
<section id="split"></section>
<section class="projects-img-start">
    <img src="../assets/chantiers-participatifs/paillourte/paillourte.png" alt="">
</section>
<section class="margin-sides project-description">
    <div class="project-title">
        <h1 class="italic-500">Paillourte</h1>
        <h2 class="italic-300">L’artisanat modernisé</h2>
        <p>J’ai eu l’occasion de participer à un <span class="bold">chantier participatif</span> pour aider à la construction d’une paillourte, une <span class="bold">maison circulaire en ossature bois</span>, isolée par des <span class="bold">bottes de paille</span> et protégée par des <span class="bold">enduits naturels</span>. Ce type d’habitat bioclimatique tire parti de <span class="bold">matériaux locaux et renouvelables</span>, tout en offrant une <span class="bold">excellente performance thermique</span> et un <span class="bold">confort intérieur sain</span>. Sa toiture rayonnante, inspirée des yourtes traditionnelles, favorise la diffusion de la lumière et la circulation de l’air, tandis que l’épaisseur des murs en paille assure une isolation efficace été comme hiver.</p>
        <p>Au fil des journées, j’ai pu observer et expérimenter des techniques d’écoconstruction simples mais ingénieuses, tout en partageant un moment convivial avec les autres bénévoles. Cette immersion m’a permis de <span class="bold">mieux comprendre l’intérêt d’utiliser des matériaux biosourcés</span> et m’a donné envie de <span class="bold">poursuivre ma découverte des modes de construction respectueux de l’environnement</span>.</p>
    </div>
    <div class="img-container">
        <img src="../assets/chantiers-participatifs/paillourte/paillourte-description.png" alt="">
    </div>
</section>
<section class="margin-sides" id="paillourte-description">
    <div class="img-container"><img src="../assets/chantiers-participatifs/paillourte/paillourte-description-1.jpeg" alt=""></div>
    <div id="square-photos-container">
        <div class="img-container"><img src="../assets/chantiers-participatifs/paillourte/paillourte-description-2.jpeg" alt=""></div>
        <div class="img-container"><img src="../assets/chantiers-participatifs/paillourte/paillourte-description-3.png" alt=""></div>
    </div>
    <p>La paillourte repose sur une <span class="bold">ossature bois</span> qui forme un cercle parfait. Cette structure <span class="bold">répartit les charges de manière équilibrée</span> sur tout le pourtour, ce qui permet au toit de s’appuyer uniquement sur les murs périphériques. Grâce à ce principe, les chevrons rayonnent depuis un anneau central (l’“œil de lumière”) vers les murs, <span class="bold">supprimant</span> ainsi le besoin d’un <span class="bold">poteau central</span>. Ce système <span class="bold">allège l’espace intérieur</span>, offre une hauteur uniforme et met en valeur la beauté géométrique de la charpente.</p>
</section>
<section id="torchis-charpente">
    <div id="photos">
        <div id="torchis">
            <div class="img-container"><img src="../assets/chantiers-participatifs/paillourte/torchis.jpeg" alt=""></div>
            <p>Création du Torchis</p>
        </div>
        <div id="charpente">
            <div class="img-container"><img src="../assets/chantiers-participatifs/paillourte/charpente.png" alt=""></div>
            <p>Charpente vue de dessous</p>
        </div>
    </div>
    <p>Pour la <span class="bold">construction du toit</span>, nous sommes allés <span class="bold">chercher les bottes de paille directement à la ferme voisine</span>, garantissant ainsi l’utilisation de <span class="bold">matériaux 100 % locaux</span>. J’ai ensuite préparé du <span class="bold">torchis</span>, un mélange naturel de terre, d’eau et de paille hachée, malléable à l’application puis solide en séchant. Les bottes ont été <span class="bold">disposées de façon circulaire sur la charpente</span>, et le torchis appliqué aux jonctions a servi de liant naturel, fixant l’ensemble et améliorant l’étanchéité à l’air, le tout avec des ressources simples, saines et renouvelables.</p>
</section>
<section id="bache">
    <div class="img-container"><img src="../assets/chantiers-participatifs/paillourte/bache.png" alt=""></div>
    <p>Pendant toute la durée des travaux, nous avons protégé la paillourte en tendant au-dessus une grande <span class="bold">bâche en EPDM</span> (éthylène-propylène-diène monomère). C'est une membrane synthétique très résistante, utilisée notamment en étanchéité de toiture. Souple, imperméable et durable, elle <span class="bold">empêche l’eau de pénétrer dans la structure</span> tout en <span class="bold">supportant les variations de température et les UV</span>. Cette protection a permis de travailler sereinement, même en cas d’intempéries, tout en préservant la paille et la charpente.</p>
</section>
<section class="margin-sides" id="experience">
    <div class="img-container"><img src="../assets/chantiers-participatifs/paillourte/experience.png" alt=""></div>
    <p>Ce chantier participatif a été une <span class="bold">expérience</span> à la fois <span class="bold">humaine et formatrice</span>, qui m’a permis de prendre conscience du potentiel des techniques d’écoconstruction et de la <span class="bold">richesse du travail collectif</span> au service d’un habitat plus durable et en harmonie avec son environnement.</p>
</section>
<footer>
    <img src="../assets/logo.png" alt="">
    <div id="footer-container">
        <div class="footer-container">
            <h3 class="italic-500">Laurène Cottereau</h3>
            <h4 class="italic-300">LC architecture • Entreprise indivuduelle</h4>
            <h5 class="italic-300">Architecte d’intérieur et designer diplômée d’État</h5>
            <h5 class="italic-300">Siret : 99217696600016</h5>
        </div>
        <div class="footer-container">
            <a href="../views/contact.html"><h3 class="underline italic-500">ME CONTACTER</h3></a>
            <h5 class="italic-300">lcottereau.architecture@gmail.com</h5>
            <h5 class="italic-300">07 83 17 50 48</h5>
        </div>
        <div class="footer-container">
            <h3 class="underline italic-500">ZONES D’INTERVENTION</h3>
            <h5 class="italic-300">Région parisienne • Nord de l’Alsace • Ile de Ré</h5>
        </div>
        <div class="footer-container">
            <h3 class="underline italic-500">ME RETROUVER</h3>
            <div class="footer-social-media-link-container"><a target="_blank" href="https://www.linkedin.com/in/laur%C3%A8ne-cottereau-2b70b8194/"><img src="../assets/linkedin-logo.svg" alt=""></a><h5 class="italic-300">Laurène Cottereau</h5></div>
            <div class="footer-social-media-link-container"><a target="_blank" href="https://www.instagram.com/laurene_ctr/"><img src="../assets/instagram-logo.svg" alt=""></a><h5 class="italic-300">laurene_ctr</h5></div>
        </div>
            <div id="copyrights"><h5 class="">© 2025 – Tous droits réservés | Laurène Cottereau</h5></div>
    </div>
</footer>
</body>
</html>
<script src="../js/nav.js"></script>
