<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/contact.css">
    <title>Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <a href="index.html"><img src="../assets/logo.png" alt="Accueil"></a>
    <ul>
        <li id="nav-projets-professionnels"><a href="projets-professionnels.html">Projets professionnels</a></li>
        <li id="nav-projets-académiques"><a href="projets-académiques.html">Projets académiques</a></li>
        <li id="nav-chantiers-participatifs"><a href="chantiers-participatifs.html">Chantiers participatifs</a></li>
        <li id="nav-croquis"><a href="croquis.html">Croquis</a></li>
        <li id="nav-a-propos"><a href="a-propos.html">À propos</a></li>
        <li id="nav-contact"><a class="underline" href="contact.html">Contact</a></li>
    </ul>
</nav>
</body>
<section id="contact-container" class="margin-sides">
    <div id="contact-text">
        <h1 class="italic-500">Me contacter</h1>
        <h2 class="italic-300">Laurène Cottereau</h2>
        <div id="contact-link">
            <div class="link-container">
                <a href=""><div class="img-container"><img src="../assets/mail-logo.svg" alt=""></div></a>
                <p>lcottereau.architecture@gmail.com</p>
            </div>
            <div class="link-container">
                <a href=""><div class="img-container"><img src="../assets/call-logo.svg" alt=""></div></a>
                <p>07 83 17 50 48</p>
            </div>
            <div class="link-container">
                <a target="_blank" href="https://www.linkedin.com/in/laur%C3%A8ne-cottereau-2b70b8194/"><div class="img-container"><img src="../assets/linkedin-logo-2.svg" alt=""></div></a>
                <p>Laurène Cottereau</p>
            </div>
            <div class="link-container">
                <a target="_blank" href="https://www.instagram.com/laurene_ctr/"><div class="img-container"><img src="../assets/inta-logo-2.svg" alt=""></div></a>
                <p>laurene_ctr</p>
            </div>
        </div>
        <p>Je suis ouverte à différentes opportunités de collaboration, que ce soit en CDI, CDD ou en mission freelance.</p>
    </div>
    <div class="img-container"><img src="../assets/contact-portrait.png" alt=""></div>
</section>
</html>
<script src="../js/nav.js"></script>
