<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/projets-académiques.css">
    <title>Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <a href="index.html"><img src="../assets/logo.png" alt="Accueil"></a>
    <ul>
        <li id="nav-projets-professionnels"><a href="projets-professionnels.html">Projets professionnels</a></li>
        <li id="nav-projets-académiques"><a class="underline" href="projets-académiques.html">Projets académiques</a></li>
        <li id="nav-chantiers-participatifs"><a href="chantiers-participatifs.html">Chantiers participatifs</a></li>
        <li id="nav-croquis"><a href="croquis.html">Croquis</a></li>
        <li id="nav-a-propos"><a href="a-propos.html">À propos</a></li>
        <li id="nav-contact"><a href="contact.html">Contact</a></li>
    </ul>
</nav>
<section class="projects-display margin-sides margin-top">
    <div>
        <a href="projets-academiques/quete.html"><img src="../assets/projet-acad-1-quete-low-quality.png" alt=""></a><h3 class="italic-500">Quête</h3>
    </div>
    <div>
        <a href="projets-academiques/ecume-des-pres.html"><img src="../assets/projet-acad-2-ecume-des-pres.jpg" alt=""></a><h3 class="italic-500">Écume des Prés</h3>
    </div>
    <div>
        <a href="projets-academiques/espace-de-vente.html"><img src="../assets/projet-acad-3-espace-de-vente.jpg" alt=""></a><h3 class="italic-500">Espace de vente</h3>
    </div>
    <div>
        <a href="projets-academiques/air-de-jeux.html"><img src="../assets/projet-acad-4-air-de-jeux.png" alt=""></a><h3 class="italic-500">À l'aventure !</h3>
    </div>
    <div>
        <a href="projets-academiques/educasier.html"><img src="../assets/projet-acad-5-educasier.png" alt=""></a><h3 class="italic-500">Educasier</h3>
    </div>
</section>
<footer>
    <img src="../assets/logo.png" alt="">
    <div id="footer-container">
        <div class="footer-container">
            <h3 class="italic-500">Laurène Cottereau</h3>
            <h4 class="italic-300">LC architecture • Entreprise indivuduelle</h4>
            <h5 class="italic-300">Architecte d’intérieur et designer diplômée d’État</h5>
            <h5 class="italic-300">Siret : 99217696600016</h5>
        </div>
        <div class="footer-container">
            <a href="../views/contact.html"><h3 class="underline italic-500">ME CONTACTER</h3></a>
            <h5 class="italic-300">lcottereau.architecture@gmail.com</h5>
            <h5 class="italic-300">07 83 17 50 48</h5>
        </div>
        <div class="footer-container">
            <h3 class="underline italic-500">ZONES D’INTERVENTION</h3>
            <h5 class="italic-300">Région parisienne • Nord de l’Alsace • Ile de Ré</h5>
        </div>
        <div class="footer-container">
            <h3 class="underline italic-500">ME RETROUVER</h3>
            <div class="footer-social-media-link-container"><a target="_blank" href="https://www.linkedin.com/in/laur%C3%A8ne-cottereau-2b70b8194/"><img src="../assets/linkedin-logo.svg" alt=""></a><h5 class="italic-300">Laurène Cottereau</h5></div>
            <div class="footer-social-media-link-container"><a target="_blank" href="https://www.instagram.com/laurene_ctr/"><img src="../assets/instagram-logo.svg" alt=""></a><h5 class="italic-300">laurene_ctr</h5></div>
        </div>
            <div id="copyrights"><h5 class="">© 2025 – Tous droits réservés | Laurène Cottereau</h5></div>
    </div>
</footer>
</body>
</html>
<script src="../js/nav.js"></script>