<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="../../css/projets-professionels/ding-huo-huo.css">
    <title>Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <a href="../index.html"><img src="../../assets/logo.png" alt="Accueil"></a>
    <ul>
        <li id="nav-projets-professionnels"><a href="../projets-professionnels.html">Projets professionnels</a></li>
        <li id="nav-projets-académiques"><a href="../projets-académiques.html">Projets académiques</a></li>
        <li id="nav-chantiers-participatifs"><a href="../chantiers-participatifs.html">Chantiers participatifs</a></li>
        <li id="nav-croquis"><a href="../croquis.html">Croquis</a></li>
        <li id="nav-a-propos"><a href="../a-propos.html">À propos</a></li>
        <li id="nav-contact"><a href="../contact.html">Contact</a></li>
    </ul>
</nav>
<section class="projects-img-start">
    <img src="../../assets/projet-pro-5-ding-huo-huo.jpg" alt="">
</section>
<section class="margin-sides project-description">
    <div class="project-title">
        <h1 class="italic-500">Ding Huo Huo</h1>
        <h2 class="italic-300">Identité assumée</h2>
        <p>Pour ce projet, le client souhaitait redonner une nouvelle vie à son restaurant asiatique, dont l’identité s’était quelque peu essoufflée au fil du temps. Situé dans une galerie marchande en plein cœur de Paris, l’enjeu principal était de le rendre plus attractif visuellement afin qu’il se démarque de la concurrence et capte davantage l’attention des passants.</p>
        <p>Le cahier des charges précisait notamment la volonté de repenser entièrement la zone du comptoir. Nous avons donc imaginé un comptoir circulaire, central et structurant, véritable point focal de l’espace. Cet élément architectural fort permet d’optimiser la circulation et d’améliorer l’expérience client, tout en apportant une dimension contemporaine au lieu.</p>
        <p>L’espace a également été organisé pour offrir deux ambiances distinctes : une zone de restauration sur place et un espace dédié à la vente à emporter, afin de répondre aux différents modes de consommation.</p>
        <p>L’ambiance traduit une interprétation contemporaine de la tradition asiatique : un équilibre entre authenticité et modernité, pour moderniser l’esprit du traiteur traditionnel et en faire un lieu plus élégant et qualitatif, sans le rendre trop sophistiqué.</p>
    </div>
    <div class="img-container">
        <img src="../../assets/projets-professionels/ding-huo-huo/ding-ding-huo-description.png" alt="">
    </div>
</section>
<section class="margin-sides" id="project-plan">
    <h3>Plan du projet</h3>
    <div class="img-container"><img src="../../assets/projets-professionels/ding-huo-huo/project-plan.png" alt=""></div>
</section>
<section class="margin-sides" id="coupes">
    <div id="coupe-ff">
        <div class="img-container"><img src="../../assets/projets-professionels/ding-huo-huo/coupe-FF.png" alt=""></div>
        <p>Coupe FF</p>
    </div>
    <div id="coupe-cc">
        <div class="img-container"><img src="../../assets/projets-professionels/ding-huo-huo/coupe-CC.png" alt=""></div>
        <p>Coupe CC</p>
    </div>
</section>
<section class="margin-sides" id="security-plan">
    <h3>Plan de sécurité</h3>
    <div class="img-container"><img src="../../assets/projets-professionels/ding-huo-huo/security-plan.png" alt=""></div>
</section>
<section class="margin-sides" id="elec-plan">
    <h3>Plan électrique</h3>
    <div class="img-container"><img src="../../assets/projets-professionels/ding-huo-huo/elec-plan.png" alt=""></div>
</section>
<section id="bar-plan">
    <div class="img-container"><img src="../../assets/projets-professionels/ding-huo-huo/bar-plan.png" alt=""></div>
    <p>Plan du comptoir</p>
</section>
<section class="margin-sides" id="plan-mobiliers">
    <div id="plan-chariot">
        <div class="img-container"><img src="../../assets/projets-professionels/ding-huo-huo/plan-chariot.png" alt=""></div>
        <p>Plan du chariot</p>
    </div>
     <div id="plan-banquette">
        <div class="img-container"><img src="../../assets/projets-professionels/ding-huo-huo/plan-banquette.png" alt=""></div>
        <p>Plan de la banquette</p>
    </div>
</section>
<section id="avant-travaux" class="margin-sides">
    <h3>Avant travaux</h3>
    <div class="travaux-row-display">
        <div class="img-container"><img src="../../assets/projets-professionels/ding-huo-huo/avant-travaux-1.png" alt=""></div>
        <div class="img-container"><img src="../../assets/projets-professionels/ding-huo-huo/avant-travaux-2.png" alt=""></div>
        <div class="img-container"><img src="../../assets/projets-professionels/ding-huo-huo/avant-travaux-3.jpeg" alt=""></div>
    </div>
</section>
<section id="pendant-travaux" class="margin-sides">
    <h3>Pendant travaux</h3>
    <div class="travaux-row-display">
        <div class="img-container"><img src="../../assets/projets-professionels/ding-huo-huo/pendant-travaux-1.jpeg" alt=""></div>
        <div class="img-container"><img src="../../assets/projets-professionels/ding-huo-huo/pendant-travaux-2.jpeg" alt=""></div>
        <div class="img-container"><img src="../../assets/projets-professionels/ding-huo-huo/pendant-travaux-3.jpeg" alt=""></div>
        <div class="img-container"><img src="../../assets/projets-professionels/ding-huo-huo/pendant-travaux-4.jpeg" alt=""></div>
    </div>
</section>
</body>
</html>
<script src="../../js/nav.js"></script>