<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="../../css/projets-professionels/WYNS.css">
    <title>Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<div id="menu-blur"></div>
<nav>
    <a href="../index.html"><img src="../../assets/logo.png" alt="Accueil"></a>
    <ul id="nav-list">
        <li id="nav-projets-professionnels"><a href="../projets-professionnels.html">Projets professionnels</a></li>
        <li id="nav-projets-académiques"><a href="../projets-académiques.html">Projets académiques</a></li>
        <li id="nav-chantiers-participatifs"><a href="../chantiers-participatifs.html">Chantiers participatifs</a></li>
        <li id="nav-croquis"><a href="../croquis.html">Croquis</a></li>
        <li id="nav-a-propos"><a href="../a-propos.html">À propos</a></li>
        <li id="nav-contact"><a href="../contact.html">Contact</a></li>
    </ul>
    <div id="menu-btn">
        <span class="menu-line"></span>
        <span class="menu-line"></span>
        <span class="menu-line"></span>
    </div>
</nav>
<section class="projects-img-start">
    <img src="../../assets/projet-pro-1-WYNS.jpg" alt="">
</section>
<section class="margin-sides project-description">
    <div class="project-title">
        <h1 class="italic-500">WYNS</h1>
        <h2 class="italic-300">Révéler les usages</h2>
        <p>Redéfinir la manière dont les espaces, la lumière et les circulations interagissent a été au cœur de ce projet, dès les premières étapes. En parallèle du travail du constructeur sur les plans de sa maison, le client a fait appel à moi pour apporter un <span class="bold">regard neuf et créatif</span>, afin de créer une cohérence globale et <span class="bold">une identité forte</span> à son intérieur. Chaque élément a été pensé pour avoir une raison d’être et contribuer à l’harmonie générale.</p>
        <p><span class="bold">La cuisine</span>, occupant une place particulière pour le client, qui y passe beaucoup de temps et y voit un lieu de <span class="bold">convivialité familiale</span>, a été conçue comme un <span class="bold">volume central sombre</span>, créant un contraste fort avec la clarté du reste de la pièce à vivre. Ce choix permet de structurer les espaces et de mettre en valeur les volumes qui sont chers au client.</p>
        <p><span class="bold">L’escalier</span> devient un élément central assurant la <span class="bold">la circulation verticale</span> et reliant visuellement les deux niveaux. La passerelle transparente à l’étage renforce l’axe horizontal et l’articulation des espaces, mettant en valeur la circulation plutôt que de la cacher.</p>
        <p><span class="bold">Le Couloir, travaillé comme une pièce à part entière</span>, structure l’étage et met en lumière les volumes grâce à un jeu de <span class="bold">clair/obscur</span>.</p>
        <p>Chaque choix a été réfléchi pour allier fonctionnalité, confort et identité. L’ensemble du projet transforme la maison en un lieu cohérent et harmonieux, où lumière, volumes et matériaux <span class="bold">racontent l’histoire de ses occupants.</span></p>
    </div>
    <div class="img-container">
        <img src="../../assets/projets-professionels/WYNS/WYNS-description.png" alt="">
    </div>
</section>
<section id="plan-rdc-rp1" class="margin-sides">
    <h3>Plans du RDC et R+1</h3>
    <div id="plans">
        <div class="img-container"><img src="../../assets/projets-professionels/WYNS/plan-rdc.png" alt=""></div>
        <div class="img-container"><img src="../../assets/projets-professionels/WYNS/plan-rp1.png" alt=""></div>
    </div>
</section>
<section id="visuels-3d-maison" class="margin-sides">
    <h3>Visuels 3D de la maison</h3>
    <section id="salon">
        <div id="visuels-salon">
            <div class="img-container"><img src="../../assets/projets-professionels/WYNS/visuel-1-3d-salon.jpeg" alt=""></div>
            <div class="img-container"><img src="../../assets/projets-professionels/WYNS/visuel-2-3d-salon.jpg" alt=""></div>
        </div>
        <h4 class="italic-300">Salon</h4>
    </section>
    <section id="cuisine">
        <div id="visuels-cuisine">
            <div class="img-container"><img src="../../assets/projets-professionels/WYNS/visuel-1-3d-cuisine.jpg" alt=""></div>
            <div class="img-container"><img src="../../assets/projets-professionels/WYNS/visuel-2-3d-cuisine.jpg" alt=""></div>
        </div>
        <h4 class="italic-300">Cuisine</h4>
    </section>
    <section id="couloir">
        <div id="visuels-couloir">
            <div class="img-container"><img src="../../assets/projets-professionels/WYNS/visuel-1-3d-couloir.jpg" alt=""></div>
            <div class="img-container"><img src="../../assets/projets-professionels/WYNS/visuel-2-3d-couloir.jpg" alt=""></div>
        </div>
        <h4 class="italic-300">Couloir</h4>
    </section>
    <section id="suite-parentale">
        <div id="visuels-chambre-parents">
            <div class="img-container"><img src="../../assets/projets-professionels/WYNS/visuel-1-3d-chambre-parents.jpg" alt=""></div>
            <div class="img-container"><img src="../../assets/projets-professionels/WYNS/visuel-2-3d-chambre-parents.jpg" alt=""></div>
            <div class="img-container"><img src="../../assets/projets-professionels/WYNS/visuel-3-3d-chambre-parents.jpg" alt=""></div>
        </div>
        <h4 class="italic-300">Suite parentale</h4>
    </section>
    <section id="chambre-enfant">
        <div id="visuels-chambre-enfant">
            <div class="img-container"><img src="../../assets/projets-professionels/WYNS/visuel-1-3d-chambre-enfant.jpg" alt=""></div>
            <div class="img-container"><img src="../../assets/projets-professionels/WYNS/visuel-2-3d-chambre-enfant.jpg" alt=""></div>
        </div>
        <h4 class="italic-300">chambre enfant</h4>
    </section>
    <section id="sdb">
        <div id="visuels-sdb">
            <div class="img-container"><img src="../../assets/projets-professionels/WYNS/visuel-1-3d-sdb.jpg" alt=""></div>
            <div class="img-container"><img src="../../assets/projets-professionels/WYNS/visuel-2-3d-sdb.jpg" alt=""></div>
        </div>
        <h4 class="italic-300">SDB</h4>
    </section>
    <section id="atelier">
        <div id="visuels-atelier">
            <div id="visuels-atelier-1-2">
                <div class="img-container"><img src="../../assets/projets-professionels/WYNS/visuel-1-3d-atelier.jpg" alt=""></div>
                <div class="img-container"><img src="../../assets/projets-professionels/WYNS/visuel-2-3d-atelier.jpg" alt=""></div>
            </div>
            <div id="visuels-atelier-3">
                <div class="img-container"><img src="../../assets/projets-professionels/WYNS/visuel-3-3d-atelier.jpg" alt=""></div>
            </div>
        </div>
        <h4 class="italic-300">Visuels 3D de l'atelier</h4>
    </section>
</section>
<footer>
    <img src="../../assets/logo.png" alt="">
    <div id="footer-container">
        <div class="footer-container">
            <h3 class="italic-500">Laurène Cottereau</h3>
            <h4 class="italic-300">LC architecture • Entreprise indivuduelle</h4>
            <h5 class="italic-300">Architecte d’intérieur et designer diplômée d’État</h5>
            <h5 class="italic-300">Siret : 99217696600016</h5>
        </div>
        <div class="footer-container">
            <a href="../views/contact.html"><h3 class="underline italic-500">ME CONTACTER</h3></a>
            <h5 class="italic-300">lcottereau.architecture@gmail.com</h5>
            <h5 class="italic-300">07 83 17 50 48</h5>
        </div>
        <div class="footer-container">
            <h3 class="underline italic-500">ZONES D’INTERVENTION</h3>
            <h5 class="italic-300">Région parisienne • Nord de l’Alsace • Ile de Ré</h5>
        </div>
        <div class="footer-container">
            <h3 class="underline italic-500">ME RETROUVER</h3>
            <div class="footer-social-media-link-container"><a target="_blank" href="https://www.linkedin.com/in/laur%C3%A8ne-cottereau-2b70b8194/"><img src="../../assets/linkedin-logo.svg" alt=""></a><h5 class="italic-300">Laurène Cottereau</h5></div>
            <div class="footer-social-media-link-container"><a target="_blank" href="https://www.instagram.com/laurene_ctr/"><img src="../../assets/instagram-logo.svg" alt=""></a><h5 class="italic-300">laurene_ctr</h5></div>
        </div>
            <div id="copyrights"><h5 class="">© 2025 – Tous droits réservés | Laurène Cottereau</h5></div>
    </div>
</footer>
</body>
</html>
<script src="../../js/nav.js"></script>