<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="../../css/projets-professionels/WYNS.css">
    <title>Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<div id="menu-blur"></div>
<nav>
    <a href="../index.html"><img src="../../assets/logo.png" alt="Accueil"></a>
    <ul id="nav-list">
        <li id="nav-projets-professionnels"><a href="../projets-professionnels.html">Projets professionnels</a></li>
        <li id="nav-projets-académiques"><a href="../projets-académiques.html">Projets académiques</a></li>
        <li id="nav-chantiers-participatifs"><a href="../chantiers-participatifs.html">Chantiers participatifs</a></li>
        <li id="nav-croquis"><a href="../croquis.html">Croquis</a></li>
        <li id="nav-a-propos"><a href="../a-propos.html">À propos</a></li>
        <li id="nav-contact"><a href="../contact.html">Contact</a></li>
    </ul>
    <div id="menu-btn">
        <span class="menu-line"></span>
        <span class="menu-line"></span>
        <span class="menu-line"></span>
    </div>
</nav>
<section class="projects-img-start">
    <img src="../../assets/projet-pro-1-WYNS.jpg" alt="">
</section>
<section class="margin-sides project-description">
    <div class="project-title">
        <h1 class="italic-500">WYNS</h1>
        <h2 class="italic-300">Révéler les usages</h2>
        <p>Redéfinir la manière dont les espaces, la lumière et les circulations interagissent a été au cœur de ce projet, dès les premières étapes. En parallèle du travail du constructeur sur les plans de sa maison, le client a fait appel à moi pour apporter un <span class="bold">regard neuf et créatif</span>, afin de créer une cohérence globale et <span class="bold">une identité forte</span> à son intérieur. Chaque élément a été pensé pour avoir une raison d’être et contribuer à l’harmonie générale.</p>
        <p><span class="bold">L’escalier</span> est devenu un élément central, repensé pour <span class="bold">assumer la circulation verticale et relier visuellement les deux niveaux</span>, tandis que la passerelle transparente à l’étage vient renforcer <span class="bold">l’axe horizontal</span> et l’articulation des espaces. Le socle en béton ciré de l’escalier émerge du sol et évolue vers une structure légère et aérienne, et le garde-corps en verre met en valeur cet axe vertical, transformant l’ensemble en un point fort du projet.</p>
        <p><span class="bold">La cuisine</span> occupe une place particulière pour le client, qui y passe beaucoup de temps et y voit un lieu de <span class="bold">convivialité familiale</span>. Elle a été conçue comme une <span class="bold">coque enveloppante</span>, englobant sol, mobilier et plafond, en gris anthracite, créant un contraste fort avec la clarté du reste de la pièce à vivre. Ce contraste joue sur le principe de <span class="bold">clair/obscur</span>, qui structure l’espace et met en valeur la cuisine comme cœur central de la maison.</p>
        <p>À <span class="bold">l’étage</span>, chaque espace a été repensé pour <span class="bold">correspondre aux usages de chacun</span>, avec des teintes sobres et intemporelles. Le couloir, <span class="bold">traité comme une pièce à part entière</span>, reprend le principe de <span class="bold">clair/obscur</span> grâce à ses murs et plafonds bleu profond et à un éclairage vertical étudié, assurant la continuité esthétique de la maison. Chaque choix, du mobilier aux matériaux, a été réfléchi pour allier fonctionnalité, confort et identité. L’ensemble du projet transforme la maison en un lieu cohérent et harmonieux, où lumière, volumes et matériaux racontent l’histoire de ses occupants.</p>
        <p>Chaque choix, du mobilier aux matériaux, a été réfléchi pour allier fonctionnalité, confort et identité. L’ensemble du projet transforme la maison en un lieu cohérent et harmonieux, où lumière, volumes et matériaux <span class="bold">racontent l’histoire de ses occupants.</span></p>
    </div>
    <div class="img-container">
        <img src="../../assets/projets-professionels/WYNS/WYNS-description.png" alt="">
    </div>
</section>
<section id="plan-rdc-rp1" class="margin-sides">
    <h3>Plans du RDC et R+1</h3>
    <div id="plans">
        <div class="img-container"><img src="../../assets/projets-professionels/WYNS/plan-rdc.png" alt=""></div>
        <div class="img-container"><img src="../../assets/projets-professionels/WYNS/plan-rp1.png" alt=""></div>
    </div>
</section>
<section id="3d-salon" class="margin-sides">
    <h3>Visuels 3D du salon</h3>
    <div id="visuels-salon">
        <div class="img-container"><img src="" alt=""></div>
        <div class="img-container"><img src="" alt=""></div>
    </div>
</section>
<section id="3d-cuisine" class="margin-sides"></section>
<section id="3d-couloir" class="margin-sides"></section>
<section id="3d-chambres" class="margin-sides"></section>
<section id="3d-sdb" class="margin-sides"></section>
<section id="3d-atelier" class="margin-sides"></section>






<footer>
    <img src="../../assets/logo.png" alt="">
    <div id="footer-container">
        <div class="footer-container">
            <h3 class="italic-500">Laurène Cottereau</h3>
            <h4 class="italic-300">LC architecture • Entreprise indivuduelle</h4>
            <h5 class="italic-300">Architecte d’intérieur et designer diplômée d’État</h5>
            <h5 class="italic-300">Siret : 99217696600016</h5>
        </div>
        <div class="footer-container">
            <a href="../views/contact.html"><h3 class="underline italic-500">ME CONTACTER</h3></a>
            <h5 class="italic-300">lcottereau.architecture@gmail.com</h5>
            <h5 class="italic-300">07 83 17 50 48</h5>
        </div>
        <div class="footer-container">
            <h3 class="underline italic-500">ZONES D’INTERVENTION</h3>
            <h5 class="italic-300">Région parisienne • Nord de l’Alsace • Ile de Ré</h5>
        </div>
        <div class="footer-container">
            <h3 class="underline italic-500">ME RETROUVER</h3>
            <div class="footer-social-media-link-container"><a target="_blank" href="https://www.linkedin.com/in/laur%C3%A8ne-cottereau-2b70b8194/"><img src="../../assets/linkedin-logo.svg" alt=""></a><h5 class="italic-300">Laurène Cottereau</h5></div>
            <div class="footer-social-media-link-container"><a target="_blank" href="https://www.instagram.com/laurene_ctr/"><img src="../../assets/instagram-logo.svg" alt=""></a><h5 class="italic-300">laurene_ctr</h5></div>
        </div>
            <div id="copyrights"><h5 class="">© 2025 – Tous droits réservés | Laurène Cottereau</h5></div>
    </div>
</footer>
</body>
</html>
<script src="../../js/nav.js"></script>