.project-description .img-container {
    width: 31%;
}


h3 {
    color: #a14a24;
    font-size: 1.5em;
}



/*----------------- plan-rdc-r+1 ---------------------*/

#plan-rdc-rp1 {
    margin-top: 10%;
}

#plan-rdc-rp1 #plans {
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
}

#plan-rdc-rp1 #plans .img-container {
    width: 47%;
}

/*------------------- visuels-3d-maison ----------------*/

#visuels-3d-maison {
    margin-top: 10%;
}

#visuels-3d-maison h4 {
    margin-top: 1.5%;
    text-align: end;
}

#salon, #cuisine, #couloir, #suite-parentale, #chambre-enfant, #sdb, #atelier {
    margin-top: 8%;
}



/*--------- salon ---------*/

#salon #visuels-salon {
    display: flex;
    justify-content: space-between;
}

#salon #visuels-salon .img-container {
    width: 47%;
}


/*--------- cuisine ---------*/

#cuisine #visuels-cuisine {
    margin-top: 7%;
    display: flex;
    justify-content: center;
    gap: 6%;
}

#cuisine #visuels-cuisine .img-container {
    width: 30%;
}

#cuisine h4 {
    margin-right: 17%;
}



/*--------- couloir ---------*/

#couloir #visuels-couloir {
    margin-top: 7%;
    display: flex;
    justify-content: space-between;
}

#couloir #visuels-couloir .img-container {
    width: 47%;
}

/*--------- suite-parentale ---------*/

#suite-parentale #visuels-chambre-parents {
    margin-top: 7%;
    display: flex;
    justify-content: space-between;
}

#suite-parentale #visuels-chambre-parents .img-container:nth-child(1) {
    width: 44.7%;
}
#suite-parentale #visuels-chambre-parents .img-container:nth-child(2){
    width: 23%;
}
#suite-parentale #visuels-chambre-parents .img-container:nth-child(3) {
    width: 23%;
}

/*--------- chambre-enfant ---------*/


#chambre-enfant #visuels-chambre-enfant {
    display: flex;
    justify-content: center;
    gap: 5%;
}

#chambre-enfant #visuels-chambre-enfant .img-container {
    width: 28%;
}

#chambre-enfant h4 {
    margin-right: 19.5%;
}

/*--------- sdb ---------*/


#sdb #visuels-sdb {
    margin-top: 7%;
    display: flex;
    justify-content: space-between;
}

#sdb #visuels-sdb .img-container {
    width: 47%;
}


/*--------- atelier ---------*/

#atelier #visuels-atelier {
    margin-top: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#atelier #visuels-atelier-1-2 {
    display: flex;
    flex-direction: column;
    gap: 8%;
    width: 48%;
}

#atelier #visuels-atelier-3 {
    width: 46%;
}
