<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="../../css/projets-academiques/air-de-jeux.css">
    <title>Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <a href="../index.html"><img src="../../assets/logo.png" alt="Accueil"></a>
    <ul>
        <li id="nav-projets-professionnels"><a href="../projets-professionnels.html">Projets professionnels</a></li>
        <li id="nav-projets-académiques"><a href="../projets-académiques.html">Projets académiques</a></li>
        <li id="nav-chantiers-participatifs"><a href="../chantiers-participatifs.html">Chantiers participatifs</a></li>
        <li id="nav-croquis"><a href="../croquis.html">Croquis</a></li>
        <li id="nav-a-propos"><a href="../a-propos.html">À propos</a></li>
        <li id="nav-contact"><a href="../contact.html">Contact</a></li>
    </ul>
</nav>
<section class="projects-img-start">
    <img src="../../assets/projet-acad-4-air-de-jeux.png" alt="">
</section>
<section class="margin-sides project-description">
    <div class="project-title">
        <h1 class="italic-500">À l’aventure !</h1>
        <h2 class="italic-300">Explorer, grimper, imaginer</h2>
        <p>À l’Aventure est une <span class="bold">aire de jeux</span> implantée au cœur d’un parc d’Élancourt, dans les Yvelines, <span class="bold">à proximité immédiate des habitations et facilement accessible aux familles</span>. Pensée comme un <span class="bold">lieu de rencontre, d’éveil et de découverte</span>, elle s’intègre harmonieusement dans le paysage environnant en tirant parti des différences de niveaux du terrain.</p>
        <p>L’aire se divise en <span class="bold">deux espaces distincts</span> mais complémentaires : La première zone, dédiée aux <span class="bold">enfants de 3 à 5 ans</span>, est conçue comme une <span class="bold">bulle sécurisée</span> favorisant l’exploration libre. Un vaste bac à sable et une grande structure modulable offrent la possibilité aux plus jeunes de grimper, glisser et se déplacer à leur rythme, dans toutes les directions. Cette structure <span class="bold">légèrement surélevée domine visuellement la seconde aire</span>, permettant aux plus petits d’observer les plus grands <span class="bold">sans se sentir isolés</span>, tout en restant dans un espace adapté à leurs capacités motrices et à leur sécurité.</p>
        <p>La seconde zone, destinée aux <span class="bold">enfants de 6 à 15 ans</span>, se déploie autour de deux arcs reliés par une structure centrale suspendue. Celle-ci crée un véritable <span class="bold">parcours aérien</span>, invitant les enfants à grimper, traverser et défier la gravité tout en <span class="bold">développant leur équilibre et leur coordination</span>. Ce lien entre les deux arcs <span class="bold">symbolise le passage, le mouvement et la progression</span>, autant physique qu’imaginaire.</p>
        <p><span class="bold">Les assises</span> disposées en <span class="bold">périphérie</span> offrent aux parents un espace de détente tout en leur permettant de <span class="bold">garder un œil attentif sur leurs enfants</span>. Ainsi, chacun peut profiter pleinement du lieu, dans une atmosphère conviviale et apaisée.</p>
        <p>“À l’Aventure” se veut avant tout <span class="bold">un espace</span> de liberté et de partage, où chaque enfant peut <span class="bold">jouer, explorer et grandir</span> en toute <span class="bold">sécurité</span>.</p>
    </div>
    <div class="img-container">
        <img src="../../assets/projets-academiques/air-de-jeux/air-de-jeux-description.png" alt="">
    </div>
</section>
<section class="margin-sides" id="plan-3-5">
    <h3>Plans de l’aire de jeux des 3-5 ans</h3>
    <div id="plans-container">
        <div class="img-container"><img src="../../assets/projets-academiques/air-de-jeux/plan-3-5(1).png" alt=""></div>
        <div class="img-container"><img src="../../assets/projets-academiques/air-de-jeux/plan-3-5(2).png" alt=""></div>
    </div>
</section>
<section class="margin-sides" id="plan-6-15">
    <h3>Plans de l’aire de jeux des 6-15 ans</h3>
    <div id="plans-container">
        <div class="img-container"><img src="../../assets/projets-academiques/air-de-jeux/plan-6_15(1).png" alt=""></div>
        <div class="img-container"><img src="../../assets/projets-academiques/air-de-jeux/plan-6-15(2).png" alt=""></div>
    </div>
</section>
<section id="visuel">
    <div class="img-container"><img src="../../assets/projets-academiques/air-de-jeux/visuel.png" alt=""></div>
    <p>Visuel 3D du projet</p>
</section>
<footer>
    <img src="../../assets/logo.png" alt="">
    <div id="footer-container">
        <div class="footer-container">
            <h3 class="italic-500">Laurène Cottereau</h3>
            <h4 class="italic-300">LC architecture • Entreprise indivuduelle</h4>
            <h5 class="italic-300">Architecte d’intérieur et designer diplômée d’État</h5>
            <h5 class="italic-300">Siret : 99217696600016</h5>
        </div>
        <div class="footer-container">
            <a href="../views/contact.html"><h3 class="underline italic-500">ME CONTACTER</h3></a>
            <h5 class="italic-300">lcottereau.architecture@gmail.com</h5>
            <h5 class="italic-300">07 83 17 50 48</h5>
        </div>
        <div class="footer-container">
            <h3 class="underline italic-500">ZONES D’INTERVENTION</h3>
            <h5 class="italic-300">Région parisienne • Nord de l’Alsace • Ile de Ré</h5>
        </div>
        <div class="footer-container">
            <h3 class="underline italic-500">ME RETROUVER</h3>
            <div class="footer-social-media-link-container"><a target="_blank" href="https://www.linkedin.com/in/laur%C3%A8ne-cottereau-2b70b8194/"><img src="../../assets/linkedin-logo.svg" alt=""></a><h5 class="italic-300">Laurène Cottereau</h5></div>
            <div class="footer-social-media-link-container"><a target="_blank" href="https://www.instagram.com/laurene_ctr/"><img src="../../assets/instagram-logo.svg" alt=""></a><h5 class="italic-300">laurene_ctr</h5></div>
        </div>
            <div id="copyrights"><h5 class="">© 2025 – Tous droits réservés | Laurène Cottereau</h5></div>
    </div>
</footer>
</body>
</html>
<script src="../../js/nav.js"></script>